.overview_content {
    min-height: '100vh';
    background-color: #2f2963f9;
    border-radius: 24px;
}

.title_count {
    margin             : auto;
    font-weight        : 800;
    font-size          : xxx-large;
    font-family        : 'Courier New', Courier, monospace;
    color: #01BAEF;
    border-radius      : 24px;
    text-align: center;
    padding-top: 8vh;
}

.title_date {
    margin             : auto;
    font-weight        : 400;
    font-size          : large;
    font-family        : 'Courier New', Courier, monospace;
    color: #01BAEF;
    border-radius      : 24px;
    text-align: center;
}
